# a.*
# *.out
*.json
*.ppm
hw*/a.*
lab*/a.*

bridge0.py
hw9/example.cpp
hw12/test_mem.cpp
hw12/Makefile
hw12/is_match

lab1/tiny.png
lab1/small.png
lab1/output.png
lab1/hedgehog.jpg
lab1/load.cpp
lab1/lowerRight.cpp
lab2/empty.txt
lab2/input1.txt
lab3/pattern.png
lab3/output.png
lab3/small.png
hw13/Makefile
hw13/copy_seq
bridge.py
react.h
react.mac.o
react.o
hw14/cached_input
hw14/out.mem
hw14/out.yaml
hw14/Makefile
hw14/reverse
lab4/cached_input
lab4/out.mem
lab4/out.yaml
lab4/star1.png
inclass17/rawdata.txt
inclass17/myfile.txt
images/output.txt
images/new.txt
images/in.txt
images/output.png
images/big.png
images/tiny.png
inclass17/operator.cpp
inclass17/read_data.cpp
inclass17/write_to_file.cpp
inclass17/read_from_file.cpp
hw20/cached_input
hw20/out.mem
hw20/out.yaml
lab6/init_shared
lab6/cmd_line.cpp
lab6/chat2
lab6/chat3
lab6/bubble.yaml
lab6/scrollable.yaml
lab6/out.yaml
lab6/out.mem
lab6/end_input.yaml
lab6/chat4
lab6/cached_input
hw21/size_increase.cpp
hw22/test_yaml.cpp
hw22/cached_input
hw22/out.yaml
hw22/out.mem
yamlTest/test_yaml.cpp
yamlTest/test.yaml
yamlTest/out.yaml
yamlTest/out.mem
yamlTest/cached_input
yamlTest/movie_survey.cpp
yamlTest/movie_survey.yaml
yamlTest/chat_home.cpp
lab7/IntArrayDriver.o
lab7/IntArrayDriver
lab7/IntArray.o
yamlTest/chat_home.yaml
hw23/DVDDriver
hw23/DVDDriver.o
hw23/DVD.o
hw23/DVD.h
hw23/DVD.cpp
lab6/chat4.cpp
hw23/DVDArrayP.o
hw23/DVDArrayPDriver
hw23/DVDArrayPDriver.o
hw23/DVDDriver.cpp
lab8/expenses.10000
lab8/out.mem
lab8/cached_input
lab8/out.yaml
lab6/chat5
images/a.out
inclass17/a.out
yamlTest/a.out
drop_menu.cpp
